<header>
    <div class="upper-part-header">
        <a href="/" class="brand-logo">MIT.</a>
        <nav class="right-side-menu" aria-label="menu-secundario">
            <ul class="secondary-menu-list" aria-label="company-menu">
                <li class="secondary-menu-logo">Mit<span class="right-side">X</span></li>
                <li class="secondary-menu-item"><a href="#">Quienes Somos</a></li>
                <li class="secondary-menu-item"><a href="#">Certificaciones</a></li>
                <li class="secondary-menu-item"><a href="#contacto">Contacto</a></li>
                <li class="secondary-menu-item"><a href="#">FAQs</a></li>
            </ul>
        </nav>
        <a href="#" class="mobile-logo-ham"><i class="large material-icons right-side">menu</i></a>
    </div>

    <div class="lower-part-header">
        <a href="/" class="brand-logo logo-lower-part">MIT.</a>
        <nav class="primary-menu-wrapper" aria-label="menu-principal-examenes">
            <ul class="primary-menu-list left-side">
                <% materia.forEach( (materia)=>{ %>
                <li class="primary-menu-item">
                    <a class="left-side examen-materia"><%= materia.materias %></a>
                    <ul class="left-side-menu">
                        <li class="primary-menu-logo">Mit<span class="left-side">X</span></li>
                        <li class="titulo-materia"><%= materia.materias %></li>
                        <% tipos.forEach( (tipo)=>{ %>
                        <% if(tipo.materia == materia.materias){ %>
                        <% if (tipo.tipo!=null) {%>
                        <li class="materia-tipo">
                            <a href="#"><%= tipo.tipo %></a>
                            <ul data-state='closed' class='list-tipo'>
                                <% nivel.forEach((nivel)=>{ %>
                                <% if(nivel.tipo == tipo.tipo){ %>
                                <% if(nivel.nivel != null) { %>
                                <li class="sub-item-tipo">
                                    <a href="#"><%= nivel.nivel %></a>
                                    <ul class="modo" data-state='closed'>
                                        <% modo.forEach((modo)=>{ %>
                                            <% if(modo.nivel==nivel.nivel){ %>
                                                <%if(modo.modo !=null){ %>
                                                    <li class="sub-item-modo"><a href="#"><%= modo.modo %></a></li>
                                                <% } %>
                                            <% } %>
                                        <% }) %>
                                    </ul>
                                </li>
                                <% }%>
                                <% } %>
                                <% }) %>
                            </ul>
                        </li>
                        <% } %>
                        <% }%>
                        <% }) %>
                        <li class="materia-tipo tarifas"><button>Descargar tarifas</button></li>
                    </ul>
                </li>

                <% }) %>

            </ul>
        </nav>
    </div>
</header>