<%- include("partials/head") -%>
<%- include("partials/upperMenuOnly") -%>


<div id="progress-bar-outer">
    <div id="progress-bar-inner">
    </div>
</div>
<main>
    <form action="#" method="post" id="form-horario">
    <section id="checkout_step2">
        <%- include("partials/checkoutSteps") -%>
        <div class="horario next" data-step="2">
            <h2>DISPONIBILIDAD</h2>
            <p>Selecciona la fecha que esten disponibles para rendir el examen</p>
            <div class="horario-wrapper">
        
                <% horario.horarios.forEach((opcion,index)=> {%>
                 <% if(opcion.id_semanaEx){%>
                <input type="radio" name="horario-selector" id="h<%= index+1 %>" class="<%=opcion.id_diaEx%> <%=opcion.id_semanaEx%>">
                 <% }else {%>
                    <input type="radio" name="horario-selector" id="h<%= index+1 %>" class="<%=opcion.id_diaEx%>">
                    <%} %>

                <label for="h<%= index+1 %>" class="horario-label" id="l<%= index+1 %>"><%=opcion.fecha_Examen%></label>
                <%})%>

                <% if(horario.horarios.length==0){ %>
                    <h3>No existen horarios para este examen</h3>

                    <% }%>
            </div>
    </section>
    <div class="button-wrap">
        <% if(horario.horarios.length>0) {%>
            <a class="button-checkout"
                href="/checkout/step_1/<%=materia%>/<%= tipo %>/<%=nivel.replace(/\s/g, '_')%>/<%=modo.replace(/\s/g, '_')%>?id=<%=id%>">Regresar</a>
            <% }else if(horario.horarios.length===0){%>
                <a class="button-checkout"
                    href="/">Regresar</a>
                <% }%>
        <button type="submit" class="button-checkout" id="button-horario" disabled>Siguiente</button>
    </div>
    </form>
</main>
<script src="/Js/Front/checkout_2.js"></script>

<%- include("partials/footer-privacidad") -%>