<%- include("partials/head") -%>
<%- include("partials/upperMenuOnly") -%>

<div id="progress-bar-outer">
    <div id="progress-bar-inner">
    </div>
</div>
<main>
    <section id="checkout">
        <div id="steps">
            <% if(modo == 'Reading & Writing' || modo =='Listening & Speaking'){ %>
                <ul>
                    <li class="step-number selected-step">1</li>
                    <li class="step-number">2</li>
                    <li class="step-number">3</li>
                    <li class="step-number">4</li>
                </ul>
            <% }%>
            <% if(modo == "Completo") { %>
                        <ul>
                            <li class="step-number selected-step">1</li>
                            <li class="step-number">2</li>
                            <li class="step-number">3</li>
                            <li class="step-number">4</li>
                            <li class="step-number">5</li>
                        </ul>
                        <% } %>

        </div>
        <div id="information">
            <h3>EXAMEN DE</h3>
            <h1><%= nivel %> - <%= modo %></h1>
            <form action="" method="post">
                <div class="wrapper-form">
                    <div class="exam-wrapper ongoing" data-step="1">
                        <div class="exam-picture">
                            <img src="/images/Front/team-section-picture.jpg" alt="">
                        </div>
                        <div class="exam-text">
                            <h4>Descripción del examen</h4>
                            <p><%=descripcion%></p>
                            <span>€<%= precio %></span>

                            <a href="#">Descargar las Normas</a>
                            <div class="button-wrap">
                                <a class="button-checkout next" href="#">Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <% if(modo == 'Reading & Writing' || modo =='Listening & Speaking'){ %>
                    <div class="horario next" data-step="2">
                        <h2>DISPONIBILIDAD</h2>
                        <p>Selecciona la fecha que esten disponibles para rendir el examen</p>
                        <div class="horario-wrapper">

                            <% horario.horarios.forEach((opcion,index)=> {%>
                            <input type="radio" name="horario-selector"  id="h<%= index+1 %>">
                            <label for="h<%= index+1 %>" class="horario-label"
                                id="l<%= index+1 %>"><%=horario.text[index]%></label>
                            <%})%>

                            <div class="button-wrap">
                                <a class="button-checkout backwards" href="#">Regresar</a>
                                <a class="button-checkout next disabled" href="#">Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <%}%>
            <% if(modo == "Completo") {%>
                    <div class="horario next" data-step="2">
                        <h2>DISPONIBILIDAD Reading & Writting</h2>
                        <p>Selecciona la fecha que esten disponibles para rendir el examen</p>
                        <div class="horario-wrapper">

                            <div class="button-wrap">
                                <a class="button-checkout backwards" href="#">Regresar</a>
                                <a class="button-checkout next disabled" href="#" disabled>Siguiente</a>
                            </div>
                        </div>

                    </div>
                    <div class="horario next" data-step="3">
                        <h2>LISTENING & SPEAKING</h2>
                        <p>MIT se pondra en contacto contigo para darte la semana en la que tienes que presentar el examen</p>
                        <div class="horario-wrapper">
                            
                            <div class="button-wrap">
                                <a class="button-checkout backwards" href="#">Regresar</a>
                                <a class="button-checkout next" href="#">Siguiente</a>
                            </div>
                        </div>
                    </div>

                    <%}%>
            
            <% if(modo == 'Reading & Writing' || modo =='Listening & Speaking'){ %>
            <div class="pago next" data-step="3">
                <%}%>
                <% if(modo == "Completo") {%>
                <div class="pago next" data-step="4">
                <%}%>
                <div id="person-information">
                    <h2>COMPLETAR TUS DATOS</h2>
                    <P>Completa todos los campos obligatorios *</P>
                    <div id="information-wrapper">
                        <label for="">Nombre</label>
                        <input type="text" placeholder="Nombre" name="mombre" required>
                        <label for="">Apellido/s</label>
                        <input type="text" placeholder="Apellido/s" name="apellido" required>
                        <label>Fecha Nacimiento</label>
                        <input type="date" name="fecha-nacimiento" value="1987-06-21" required>
                        <span>Genero</span>
                        <label for="" class="genero-inp">Masculino</label>
                        <input type="radio" name="genero" class="genero-inp" required>
                        <label for="" class="genero-inp">Femenino</label required>
                        <input type="radio" name="genero" class="genero-inp">
                        <label for="">DNI</label>
                        <input type="text" name="documento"  placeholder="A96554621" min="0">
                        <label for="">Email</label>
                        <input type="email" name="email">
                        <label for="">Telefono fijo</label>
                        <input type="tel" name="">
                        <label for="">Telefono movile</label>
                        <input type="tel" name="">
                        <label for="">Localidad de Residencia</label>
                        <input type="text" name="localidad" >
                        <label for="">Direccion</label>
                        <input type="text" name="direccion" >
                        <label for="">Provincia</label>
                        <select name="" id="">
                            <option value="albacete">albacete</option>
                            <option value="alicante/alacant">alicante/alacant</option>
                        </select>
                    </div>

                </div>
                <div id="pago-stripe">
                    <h2>PAGO CON STRIPE</h2>
                    <p>Paga tranquilo con la seguridad de stripe, no guardamos informacion de la tarjeta</p>
                    <div class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <div class="envio-domicilio">
                        <p>¿Quieres adicionar al envío del certificado a tu domicilio?</p>
                        <div class="wrapper-decision-domicilio">
                            <input type="radio" name="other-address" id="b1">
                            <input type="radio" name="other-address" id="b2" checked>
                            <label for="b1" class="button-address" id="label-si">Si</label>
                            <label for="b2" class="button-address" id="label-no">No</label>
                        </div>
                        <div class="wrapper-nuevo-domicilio">
                            <input type="checkbox" name="nuevo-domicilio" id="">
                            <label for="nuevo-domicilio">Cargar nuevo domicilio de envío</label>
                            <div id="seccion-nuevo-domicilio">
                                <p>Nuevo Domicilio</p>
                                <label for="">Provincia</label>
                                <select name="" id="">
                                    <option value="albacete">albacete</option>
                                    <option value="alicante/alacant">alicante/alacant</option>
                                </select>
                                <label for="">Localidad de Residencia</label>
                                <input type="text" name="localidad">
                                <label for="">Direccion</label>
                                <input type="text" name="direccion">

                            </div>
                        </div>
                        

                    </div>
                    
                    <div class="button-wrap">
                        <a class="button-checkout backwards" href="#">Regresar</a>
                        <a class="button-checkout next" href="#" >Siguiente</a>
                    </div>
                </div>
                

            </div>
            
            </div>

        </form>

    </div>

    
</section>
</main>

<div class="overflow">

</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="/Js/Front/checkout.js"></script>


<%- include("partials/footer-privacidad") -%>