<%- include("partials/head") -%>
<%- include("partials/upperMenuOnly") -%>


<div id="progress-bar-outer">
    <div id="progress-bar-inner">
    </div>
</div>
<main>
    <section id="checkout_step1">
        <%- include("partials/checkoutSteps") -%>
        <div id="information">
            <h3>EXAMEN DE</h3>
            <h1><%= nivel %> - <%= modo.texto %></h1>
            <div class="exam-wrapper ongoing">
                <div class="exam-picture">
                    <img src="/images/Front/<%=imagen %>" alt="examen-de-ingles">
                </div>
                <div class="exam-text">
                    <h4>Descripción del examen</h4>
                    <p><%=descripcion%></p>
                    <span>€<%= precio %></span>
                    <a href="/faqs">Ver FAQs</a>
                </div>
            </div>
            <div class="button-wrap">
                <a class="button-checkout" href="/checkout/step_2/<%=materia%>/<%= tipo %>/<%=nivel.replace(/\s/g, '_')%>/<%=modo.texto.replace(/\s/g, '_')%>?id=<%=id%>">Siguiente</a>
            </div>
        </div>
        </section>
</main>

<script src="/Js/Front/checkout_1.js"></script>

<%- include("partials/footer-privacidad") -%>