<%- include("partials/head") -%>
<%- include("partials/upperMenuOnly") -%>


<div id="progress-bar-outer">
    <div id="progress-bar-inner">
    </div>
</div>
<main>
    
        <section id="checkout_step2">
            <%- include("partials/checkoutSteps") -%>
            <div class="horario" data-step="2">
                <h2>INFORMACION IMPORTANTE</h2>
                <h3>Te estaremos contactando para darte </br> la fecha del examen Listening and Speaking</h3>
                <div class="horario-wrapper">

                </div>
        </section>
        <div class="button-wrap">
            <a class="button-checkout"
                href="/checkout/step_2/<%=materia%>/<%= tipo %>/<%=nivel.replace(/\s/g, '_')%>/<%=modo.texto.replace(/\s/g, '_')%>?id=<%=id%>">Regresar</a>
                <a class="button-checkout"
                    href="/checkout/step_4/<%=materia%>/<%= tipo %>/<%=nivel.replace(/\s/g, '_')%>/<%=modo.texto.replace(/\s/g, '_')%>?id=<%=id%>&idhorario=<%=horarioId%>&idhorarioL=<%=horarioLs%>&idreserva=<%=idreserva %>">Siguiente</a>
        </div>
    
</main>
<script src="/Js/Front/checkout_3.js"></script>

<%- include("partials/footer-privacidad") -%>